<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/build/css/bootstrap.css">
		<style media="screen">
			td{
				text-align: center;
			}
			th{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<button class="btn btn-default" type="button" name="button" id="refresh">刷新</button>
		<table id="app" class="table">
			<thead>
				<th>文件名</th>
				<th>修改时间</th>
				<th>上传状态</th>
			</thead>
			<tr v-for="item in items">
				<td v-for="file in item">{{file}}</td>
				<td v-if = "show">
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<button type="button" class="btn btn-default">SVN</button>
  						<button v-on:click="testEnv($event)" type="button" class="btn btn-default">211</button>
						<button type="button" class="btn btn-default">147</button>
					</div>
				</td>
			</tr>
		</table>
		<script src="/build/jquery-1.11.3.js"></script>
		<script src="/dist/index.js"></script>
	</body>
</html>
